    :root {
        --primary-color: #fce138;
        --secondary-color: rgb(9, 9, 48);
        --tertiary-color: #8fe4ee;
    }
  
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: var(--secondary-color);
        font-family: Helvetica, Arial, sans-serif;
    }

    /* Header Style */
    header {
        padding: 10px 35px 10px 0;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-image: url("../images/hero-bg.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-position: 80%;
        z-index: 9999;
    }

    header h1 a {
        background-color: var(--tertiary-color);
        color: var(--secondary-color);
        text-decoration: none;
        padding: 0 10px 0 50px;
        display:flex;
        align-items: center;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    .link a {
        border-style: solid;
        border-width: 0 0 3px 0;
        display: inline-flex;
        text-decoration: none;
        margin: 5px;
    }

    header nav ul li a {
        color: var(--tertiary-color);
        padding: 5px 10px;
        font-weight: lighter;
        font-size: 1.5vw;
        text-shadow: 0 0 10px var(--secondary-color);
    }

    /* Hero style start */
    .hero {
            background-image: url("../images/hero-bg.png");
            height: 400px;
            padding: 50px;
            background-repeat: no-repeat;
            background-position: center;
    }

    .hero-subtitle {
        position: relative;
    }

    .hero-subtitle h2 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        top: 290px;
        right: 0;
        position: absolute;
        background-color: var(--secondary-color);
        color: var(--tertiary-color);
        padding: 10px;
    }

    .content-grid-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: rgb(243, 236, 236);
    }

    .content-grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .content-grid-item {
        padding: 10px;
        margin: 10px;
    }

    .content-grid-item.grid-head {
        display: grid;  
        grid-column: 1/2;
        justify-content: right;
        border-right: var(--secondary-color);
        border-style: solid;
        border-width: 0 2px 0 0;
    }

    /* Work Grid - within Content Grid */
    .work-grid-wrapper {
        display: flex;
        width: 100%;
    }

    .work-grid-container {
        display: grid;  
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%
    }

    .work-grid-item {
        border-style: solid;
        border-color: var(--secondary-color);
        border-width: 3px;
        padding: 5px;
        margin: 5px;
        height: 100px;
        position: relative;

    }

    .work-description-container {
        position: absolute;
        bottom: 10px;
        left: 0;
        font-weight: lighter;
    }

    .work-description-container h3, .work-description-container p {
        background-color: var(--secondary-color);
        color: var(--tertiary-color);
        padding: 5px;
    }

    .surf {
            display: grid;
            background-image: url("../images/surf-report-pic.png");
            background-repeat: no-repeat;
            background-position: center;
    }

    .led {
        display: grid;
        background-image: url("../images/LED-wall.png");
        background-repeat: no-repeat;
        background-position: center;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .calculator {
        display: grid;
        background-image: url("../images/abacus.png");
        background-repeat: no-repeat;
        background-position: center;
        grid-row: 2/3;
    }

    .pastel {
        display: grid;
        background-image: url("../images/pastel.jpg");
        background-repeat: no-repeat;
        background-position: center;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .run-buddy {
        grid-column: 1/3;
        grid-row: 1/3;
        display: grid;
        background-image: url("../images/run-buddy.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 210px;
    }

    /* Contact Me Area */
    .contact-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    .contact-nav ul a {
        color: var(--secondary-color);
        border-style: solid;
            border-width: 0 0 3px 0;
            display: inline-flex;
            text-decoration: none;
            margin: 5px;
    }

    /* Media Query for smaller desktop screens and smaller */
    @media screen and (max-width: 980px) {
        header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        }
    
        header h1 {
            display: flex;
            width: 100%;
            text-align: center;
            justify-content: center;
            padding: unset;
        }

        header h1 a {
            padding-right: 50px;
        }
    
        header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        }
    
        header nav ul li a {
        font-size: 20px;
        }
    }
    
    /* Media Query for tablets and smaller */
    @media screen and (max-width: 768px) {
  
        .hero {
            background-size: 100%;
            background-position-y: -30px;
            height: 280px;
        }

        .hero-subtitle h2 {
            top: 170px;
            left: 0;
            right: unset;
        }

        .contact-nav ul a,  .work-description-container h3, 
        .work-description-container p {
            font-size: 13px;
        }
    }
  
    /* Media query for mobile phones and smaller */
    @media screen and (max-width: 575px) {
  
        .hero-subtitle h2 {
            top: 90px;
            font-size: 20px;
        }

        .hero {
            height: 200px;
        }

        .contact-nav ul a,  .work-description-container h3, 
        .work-description-container p {
            font-size: 10px;
        }
    }